[Unit]
Description=Go 101

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/var/www//go101
ExecStart=/var/www/go101/go101 -port=55555
StandardOutput=null

[Install]
WantedBy=multi-user.target


