@media (min-width: 768px) {.container {max-width: 730px;}}

table.list td {vertical-align:top; padding-right:0.5em; padding-bottom:0.2em;}
.affix {position: fixed; top: 30px;}
pre code {background-color: inherit; border-style: none;}
.alert code {background-color: inherit; border-style: solid; border-width: 1px; padding-top:3px; margin-left: 1px; margin-right: 1px;}
div code, p code {border-width: 3px; padding-top:1px; padding-bottom: 1px;}
pre.output {background-color:#222; color:#ffff00;}
.anchor {display:block; height:16px; margin-top:-16px; visibility:hidden;}
