@media (min-width: 798px) {.container {max-width: 798px;}}

body {font-size: 17px;}

table.list td {vertical-align:top; padding-right:0.5em; padding-bottom:0.2em;}
.affix {position: fixed; top: 30px;}
pre code {background-color: #ddd; border-style: none; font-size: 16px;}
.alert code {background-color: inherit; border-style: solid; border-width: 1px; padding-top:3px; margin-left: 1px; margin-right: 1px;}
div > code, p > code, i > code, b > code, a > code, u > code, blockquote code, li code, h1 code, h2 code, h3 code, h4 code  {background:#eee; padding: 1px 6px;}
pre.output {background-color: #333; color:#eee; font-size: 16px; padding: 5px 9px;}
pre.output code {background-color: #333;}
.anchor {display:block; height:10px; margin-top:-16px; visibility:hidden;}
.nav-bar-with-borders {border-top: 1px solid #6886c1; border-bottom: 1px solid #6886c1; margin: 16px 0px; padding: 3px 6px;}
.nav-item-active {text-align: center; padding: 3px 0px; background-color: #d9edf7;}
.nav-item-inactive {text-align: center; padding: 3px 0px;}
.social-button {vertical-align:top; margin-top: 2px; margin-bottom: 2px;}
li {margin: 3px 3px 3px 3px}
.prettyprint li {margin: 0px}
.note {}
.new-text {color: #090; font-weight: bold;}

pre[class*="line-numbers"],
pre[class*="disable-line-numbers"] {
	background: #eee;
}

a[href^="http://"]:not([href*="localhost"])::after, a[href^="https://"]:not([href*="go101.org"])::after {
content: '\1F5D7'; !important;
margin: 0 3px;
vertical-align: top;
font-size: 12px;
}

