@media (min-width: 798px) {.container {max-width: 798px;}}

body {font-size: 17px; background: #181818;}

table.list td {vertical-align:top; padding-right:0.5em; padding-bottom:0.2em;}
.affix {position: fixed; top: 30px;}
pre code {background-color: inherit; border-style: none; font-size: 16px;}
.alert code {background-color: inherit; border-style: solid; border-width: 1px; padding-top:3px; margin-left: 1px; margin-right: 1px;}
div > code, p > code, i > code, b > code, a > code, u > code, blockquote code, li code, h1 code, h2 code, h3 code, h4 code {background: #555; padding: 1px 6px; color: #dda;}
pre.output {background: #383838; color:#dda; font-size: 16px; padding: 5px 9px}
.anchor {display: block; height: 10px; margin-top: -16px; visibility: hidden;}
.nav-bar-with-borders {border-top: 1px solid #555; border-bottom: 1px solid #555; margin: 16px 0px; padding: 3px 6px;}
.nav-item-active {text-align: center; padding: 3px 0px; background-color: #3F3F3F;}
.nav-item-inactive {text-align: center; padding: 3px 0px;}
.social-button {vertical-align:top; margin-top: 2px; margin-bottom: 2px;}
li {margin: 3px 3px 3px 3px}
.prettyprint li {margin: 0px}
.note {}
.new-text {color: #5c5; font-weight: bold;}

pre[class*="line-numbers"],
pre[class*="disable-line-numbers"] {
	background: #2b2b2b;
}

a[href^="http://"]:not([href*="localhost"])::after, a[href^="https://"]:not([href*="go101.org"])::after {
content: '\1F5D7'; !important;
margin: 0 3px;
vertical-align: top;
font-size: 62%;
}

:root {
    scrollbar-color: #333 #000;
}

b.index {border-top: 3px solid #888; border-bottom: 3px solid #888; margin-top: 5px; margin-bottom: 5px;}


input[name="choice"] {display: none;}
input[name="choice"] ~ #answer {display: none;}
input[name="choice"]:checked ~ #answer {display: block;}
input[name="choice"] ~ #choices label:before {content: "○ ";}
input[id="choiceA"]:checked ~ #choices label[for="choiceA"]:before {content: "◉ ";}
input[id="choiceB"]:checked ~ #choices label[for="choiceB"]:before {content: "◉ ";}
input[id="choiceC"]:checked ~ #choices label[for="choiceC"]:before {content: "◉ ";}
input[id="choiceD"]:checked ~ #choices label[for="choiceD"]:before {content: "◉ ";}
input[id="choiceE"]:checked ~ #choices label[for="choiceE"]:before {content: "◉ ";}
input[id="choiceF"]:checked ~ #choices label[for="choiceF"]:before {content: "◉ ";}
input[id="choiceG"]:checked ~ #choices label[for="choiceG"]:before {content: "◉ ";}


.homepage code {background: none;}
.homepage p {margin-bottom: 6px;}



details {
  margin-left: 1em;
}

summary {
  margin-left: -1em;
}

.tmd-bold {
  font-weight: bold;
}

.tmd-pale {
  opacity:0.5;
}

.tmd-italic {
  font-style: italic;
}

.tmd-revert-italic {
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(10deg, 0deg);
  display: inline-block;
}

.tmd-spoiler {
  background-color: black;
  color: black;
  border-bottom: 3px black solid;
}

.tmd-secure-spoiler {
  color: white;
}

.tmd-secure-spoiler::selection {
  color: rgba(0, 0, 0, 0.0);
  background-color: rgba(128, 128, 222, 1);
}

.tmd-deleted {
  text-decoration: 2px line-through;
}

.tmd-invisible {
  visibility: hidden;
}

.tmd-marked {
  background-color: yellow;
}

.tmd-marked-2 {
  background-color: #faa;
}

.tmd-underlined {
  text-decoration: solid underline 1px;
}

.tmd-broken-link {
  text-decoration: dotted underline 3px;
}

.tmd-code-span {
}

.tmd-mono-font {
  border: 0px;
}

.tmd-keep-whitespaces {
  white-space: break-spaces;
}

