@media (min-width: 798px) {.container {max-width: 798px;}}

body {font-size: 18px;}

table.list td {vertical-align:top; padding-right:0.5em; padding-bottom:0.2em;}
.affix {position: fixed; top: 30px;}
pre code {background-color: #ddd; border-style: none; font-size: 16px;}
.alert code {background-color: inherit; border-style: solid; border-width: 1px; padding-top:3px; margin-left: 1px; margin-right: 1px;}
div > code, p > code, i > code, b > code, a > code, u > code, blockquote code, li code, h1 code, h2 code, h3 code, h4 code  {background:#eee; padding: 1px 6px;}
pre.output {background-color: #333; color:#eee; font-size: 16px; padding: 5px 9px;}
pre.output code {background-color: #333;}
.anchor {display:block; height:10px; margin-top:-16px; visibility:hidden;}
.nav-bar-with-borders {border-top: 1px solid #6886c1; border-bottom: 1px solid #6886c1; margin: 16px 0px; padding: 3px 6px;}
.nav-item-active {text-align: center; padding: 3px 0px; background-color: #d9edf7;}
.nav-item-inactive {text-align: center; padding: 3px 0px;}
.social-button {vertical-align:top; margin-top: 2px; margin-bottom: 2px;}
li {margin: 3px 3px 3px 3px}
.prettyprint li {margin: 0px}
.note {}
.new-text {color: #090; font-weight: bold;}

pre[class*="line-numbers"],
pre[class*="disable-line-numbers"] {
	background: #eee;
}

a[href^="http://"]:not([href*="localhost"])::after, a[href^="https://"]:not([href*="//go101.org"])::after {
content: '\1F517'; !important;
margin: 0 3px;
vertical-align: top;
font-size: 62%;
}

pre[class*="language-"] {
	margin: 0;
}

input[name="choice"] {display: none;}
input[name="choice"] ~ #answer {display: none;}
input[name="choice"]:checked ~ #answer {display: block;}
input[name="choice"] ~ #choices label:before {content: "○ ";}
input[id="choiceA"]:checked ~ #choices label[for="choiceA"]:before {content: "◉ ";}
input[id="choiceB"]:checked ~ #choices label[for="choiceB"]:before {content: "◉ ";}
input[id="choiceC"]:checked ~ #choices label[for="choiceC"]:before {content: "◉ ";}
input[id="choiceD"]:checked ~ #choices label[for="choiceD"]:before {content: "◉ ";}
input[id="choiceE"]:checked ~ #choices label[for="choiceE"]:before {content: "◉ ";}
input[id="choiceF"]:checked ~ #choices label[for="choiceF"]:before {content: "◉ ";}
input[id="choiceG"]:checked ~ #choices label[for="choiceG"]:before {content: "◉ ";}
input[id="choiceH"]:checked ~ #choices label[for="choiceH"]:before {content: "◉ ";}


.homepage code {background: none;}
.homepage p {margin-bottom: 6px;}

.tmd-base {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.tmd-tab {
  display: flex;
  flex-wrap: wrap;
}

.tmd-tab-label {
  padding: .2em 1em;
  margin-bottom: 0;
  margin-left: 0px;
  margin-right: 2px;
  cursor: pointer;
  border-top: solid 1px #666;
  border-left: solid 1px #666;
  border-right: solid 1px #666;
}

.tmd-tab-radio {
  display: none;
}

.tmd-tab-content {
  order: 1;
  width: 100%;
  display: none;
  padding: .5em 1em;
  background: #eee;
}

.tmd-tab-radio:checked + .tmd-tab-label {
  font-weight: bold;
  background: #eee;
  margin-bottom: -1px;
  z-index: 1;
}

.tmd-tab-radio:checked + .tmd-tab-label + .tmd-tab-content {
  display: block;
  border: solid 1px #666;
}

.tmd-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tmd-defs dd {
  margin-left: 2em;
}

.tmd-defs-oneline {
  display: grid;
  grid-template-columns: max-content auto;
  border: solid 1px #336;
}

.tmd-defs-oneline dt {
  grid-column-start: 1;
  color: #fff;
  background: #336;
  padding: 2px 12px;
}

.tmd-defs-oneline dd {
  grid-column-start: 2;
  margin-left: 0;
  padding: 2px 6px;
}

.tmd-defs-oneline :nth-child(n+3) {
  border-top: solid 1px #559;
}

.tmd-quotation {
  border-left: solid 6px #888;
  background: #eee;
  margin-left: 6px;
  padding-left: 6px;
}

.tmd-footer {
  color: #666;
  font-size: smaller;
}

.tmd-quotation > .tmd-footer {
  color: #666;
  font-style: italic;
  position: relative;
  margin-left: 1em;
}

.tmd-quotation > .tmd-footer:first-of-type:before {
  content: '--';
  margin-left: -1em;
  color: #666;
  position: absolute;
}

.tmd-quotation-large {
  margin-left: 6px;
  padding-left: 6px;
  font-size: 1.95em;
  padding: 0.3em 2em;
}

.tmd-quotation-large > .tmd-footer {
  color: #888;
  font-style: italic;
  position: relative;
  margin-left: 1em;
  font-size: 0.618em;
}

.tmd-quotation-large > .tmd-footer:first-of-type:before {
  content: '--';
  margin-left: -1em;
  color: #888;
  position: absolute;
}



.tmd-callout {
  border: solid 1px #000;
  margin: 3px 32px;
  padding: 0px;
}

.tmd-callout-header {
  background: #000;
  color: #e0e0e0;
  padding: 0 5px;
}

.tmd-callout-content {
  padding: 5px;
}

.tmd-reveal {
  padding-left: 6px;
}

.tmd-reveal-content {
  margin-left: 18px;
}

.tmd-reveal-header {
}

.tmd-reveal-header {
}

.tmd-raw {
}

.tmd-raw-header {
  font-weight: bold;
  font-style: italic;
  background: #fcdba5;
  padding-left: 6px;
}

.tmd-code {
  color: #212529;
  background: #ddd;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 3px 6px;
}

header.tmd-with-subtitle {
  margin-block-end: 2.5em;
} 

header.tmd-with-subtitle h1 {
  margin-block-end: 0;
}

.tmd-header-1 {
  font-size: 2.5em;
}

.tmd-header-2 {
  font-size: 1.95em;
}

.tmd-header-3 {
  font-size: 1.56em;
}

.tmd-header-4 {
  font-size: 1.25em;
}

.tmd-header-5 {
  font-size: 1em;
}

.tmd-usual {
}

.tmd-dropcap::first-letter {
  font-size: 3em;
  line-height: 0.8;
  vertical-align: -0.1em;
  margin-right: 0.1em;
  float: none;
  display: inline-block;
}

.tmd-bold {
  font-weight: bold;
}

.tmd-dimmed {
  opacity:0.5;
}

.tmd-italic {
  font-style: italic;
}

.tmd-revert-italic {
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(10deg, 0deg);
  display: inline-block;
}

.tmd-smaller-size {
  font-size: smaller;
}

.tmd-larger-size {
  font-size: larger;
}

.tmd-spoiler {
  color: white;
}

.tmd-deleted {
  text-decoration: 2px line-through;
}

.tmd-invisible {
  visibility: hidden;
}

.tmd-marked {
  background: yellow;
  padding: 0;
}

.tmd-marked::selection {
  background: #aae;
}

.tmd-marked-2 {
  background: #faa;
  padding: 0;
}

.tmd-marked-2::selection {
  background: #aea;
}

.tmd-underlined {
  text-decoration: solid underline 1px;
}

.tmd-broken-link {
  text-decoration: dotted underline 3px;
  color: #007bff;
}

.tmd-code-span {
}

.tmd-mono-font {
  padding: 0px;
  border: 0px;
}

.tmd-keep-whitespaces {
  white-space: break-spaces;
}

.tmd-inline-media {
  height: 1em;
  vertical-align: middle;
}

.tmd-media {
}

ol.tmd-footnotes {
  font-size: smaller;
  opacity: 0.75;
}

ol.tmd-footnotes > li::marker {
  content: "[" counter(list-item) "]: ";
}

table.tmd-table {
  border-collapse: collapse;
}

table.tmd-table th,td {
  border: solid 1px #888;
  padding: 6px;
}

table.tmd-table th,td > .tmd-usual {
  text-align: center;
}

.tmd-align-left {
  text-align: left;
}

.tmd-align-right {
  text-align: right;
}

.tmd-align-center {
  text-align: center;
}

.tmd-align-justify {
  text-align: justify;
}

.tmd-align-top {
  vertical-align: top;
}

.tmd-hidden {
  display: none;
}

.tmd-auto-wrap {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

