body {
       line-height: 1.618;
}

table {
       border-collapse: collapse;
       border: 1px solid;
}

table td {
      border: 1px solid;
}

table th {
      border: 1px solid;
}

blockquote {
	border: 1px solid;
}

:not(pre) > code {
       padding: 1px 2px;
}

pre {
	border: 1px solid;
}

pre > code {
       text-align: left;
       line-height: 1;
       tab-size: 5;
	-moz-tab-size: 5;
}



